* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition-duration: .7s;
    max-width: 1920px;
}

:root {
    --navy: #20113d;
    --black: #000;
    --white: #fff;
    --orange: #f58021;
    --orange-hovered: #d26004;
    --turquoise: #00a092;
    --turquoise-hovered: #05786e;
    --gray: #A4A8AE;
    --turquoise-select: #80CFC8;
    --error-text: red;
}

header {
    background-color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px;
    height: 110px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 75px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header a {
    color: var(--black);
}

.list {
    display: flex;
    gap: 35px;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

header .list>li>a:hover {
    color: var(--turquoise);
}

.active {
    color: var(--turquoise);
}

main {
    margin: 0 auto;
}

.container {
    padding: 0 250px;
}

.dark {
    color: var(--white);
    background-color: var(--navy);
}

.social-media a:hover {
    opacity: 0.5;
}

.introduction {
    height: 800px;
    background-image: url('../../assets/images/panda_background.png');
    background-size: 90% 100%;
    padding-top: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

.introduction p {
    width: 430px;
    margin-bottom: 40px;
}

.welcome {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.welcome h2 {
    margin: 50px 0;
}

.welcome p {
    margin-right: 35px;
}

.panel {
    display: flex;
    gap: 30px;
    margin-bottom: 150px;
}

.donations {
    background-color: var(--navy);
    color: var(--white);
}

.dark {
    color: var(--white);
    background-color: var(--navy);
}

.donations {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    color: var(--white);
}

.donations p {
    max-width: 610px;
}

.large {
    flex-grow: 3;
}

.small {
    flex-grow: 1;
}

.friends {
    margin: 150px 0;
    text-align: center;
    padding-left: 250px;
    overflow: hidden;
}

.friends .subheader {
    max-width: 920px;
    align-self: center;
}

.friends .panel {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.friends .outline-dark {
    margin: 0 auto;
}

.carousel-container {
    width: calc(3.5 * (440px + 40px) + 250px);
    margin-bottom: 70px;
    transition: transform 0.4s ease;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    position: relative;
}

.carousel-item {
    width: 440px;
    height: 750px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.carousel-item__wrapper {
    height: 100%;
}

.animal-name {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--white);
    background-color: var(--navy);
    border-bottom-right-radius: 5px;
    padding: 15px 25px;
}

.top-part img {
    display: block;
    width: 100%;
}

.bottom-part {
    background-color: var(--navy);
    color: var(--white);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 42%;
}

.bottom-part span {
    align-self: center;
}

span.button.blank {
    margin-top: 40px;
}

.pay-and-feed {
    margin-top: 150px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.pay-and-feed__header {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 60px;
}

.pay-and-feed__header--line {
    flex: 1;
    border-top: 1px solid var(--white);
}

.pay-and-feed__content {
    display: flex;
    gap: 90px;
    width: 85%;
    margin-bottom: 90px;
}

.pay-and-feed__icon {
    margin-bottom: 30px;
}

.pay-and-feed .subheader {
    margin-bottom: 60px;
}

.pay-and-feed__image {
    align-self: flex-start;
}

.pay-and-feed .button {
    margin-left: 650px;
}

.feedback {
    padding: 150px 0 150px 250px;
    background: linear-gradient(to bottom, var(--navy), transparent),
    url('../../assets/images/feedback_section_bg.png') center / cover no-repeat;
    overflow-x: hidden;
}

.feedback__top-container {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    width: calc(250px + 560px + 50px + 2 * 515px + 30px); /*padding left + max-width + gap + 2 cards + gap*/
}

.feedback__left-panel {
    max-width: 560px;
    flex-grow: 1;
}

.feedback__right-panel {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feedback__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    padding: 50px;
    width: 515px;
    height: 460px;
    gap: 20px;
}

.feedback__card--user {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 35px 0;
}

.feedback .action-buttons {
    margin-bottom: 350px;
}

.care-for {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.care-for .top-panel {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.care-for .subheader {
    max-width: 540px;
}

.care-for .bottom-panel{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 80px;
}

.care-for .outline-dark {
    flex-basis: auto;
    margin-bottom: 150px;
}

.feedcard {
    color: var(--white);
    background-color: var(--navy);
    text-align: center;
    max-width: 440px;
    min-height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.feedcard p {
    padding: 20px 10px;
}

.feedcard button {
    margin-bottom: 50px;
    justify-self: end;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer.container {
    padding-bottom: 30px;
}

footer a {
    color: var(--white);
}

footer .top-panel {
    padding-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyright {
    text-transform: none;
    font-weight: 400;
}

.footer__line {
    flex: 1;
    border-top: 1px solid var(--white);
}

footer .bottom-panel, .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .zoo-logo {
    filter: brightness(0) invert(1);
}

.feed-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 60%;
    max-height: 850px;
    z-index: 5;
    transform: translate(-50%, -50%);
}

.feed-dialog .image-container {
    background-image: url('../../assets/images/feed_dialog_img.png');
    overflow: hidden;
    width: 100%;
    height: 390px;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.close-button {
    cursor: pointer;
    font-size: 18px;
    color: var(--white);
    position: absolute;
    right: 10px;
    top: 10px;
}

.text-action {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    gap: 50px;
}

.text-container {
    max-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container p {
    max-width: 570px;
}

.action-container {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.donation-dialog__container {
    max-width: 920px;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    max-height: 850px;
    z-index: 5;
    transform: translate(-50%, -50%);
    background-color: var(--white);
}

.donation-dialog__info {
    padding-top: 20px;
}

.donation-dialog__info--text {
    font-weight: 500;
}

.donation-dialog__info--text, .donation__form-container {
    margin-bottom: 10px;
    padding: 0 120px;
}

.donation-dialog__container h4 {
    background-color: var(--orange);
    color: var(--white);
    padding: 40px;
    text-align: center;
}

.donation-dialog__line {
    width: 100%;
    border: 1px solid var(--gray);
    margin-bottom: 40px;
}

.donation-dialog__form {
    padding: 0 120px;
}

.donation-dialog__chips--container {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.donation-chips-text {
    margin-bottom: 10px;
}

.other-amount-container.form-group {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
}

.button.select-pet__label {
    padding: 26px 17px;
}

.other-amount-container .button {
    padding: 26px 22px;
}

.select-item__container {
    display: flex;
    gap: 40px;
    position: relative;
    margin-bottom: 30px;
}

.select-pet__container--trigger,
.select-month__container--trigger,
.select-year__container--trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border: 1px solid var(--black);
    border-radius: 5px;
    min-width: 200px;
    max-width: 440px;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

.select-month__container--trigger span,
.select-pet__container--trigger span,
.select-year__container--trigger span  {
    color: var(--gray);
    flex-basis: 80%;
}

.select-month__container--trigger i,
.select-pet__container--trigger i,
.select-year__container--trigger i {
    padding: 28px 5px;
    background-color: var(--turquoise-select);
    color: var(--black);
}

.select-pet__list {
    width: 440px;
}

.select-pet__list--item:hover,
.select-month__list--item:hover,
.select-year__list--item:hover {
   background-color: var(--turquoise-select);
}

.select-pet__list,
.select-month__list,
.select-year__list {
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    background: var(--white);
    border: 1px solid var(--black);
    border-top: none;
    
}

.select-pet__list.open,
.select-month__list.open,
.select-year__list.open {
    display: flex;
    flex-direction: column;
}

.select-item__container--month,
.select-item__container--year {
    position: relative;
}

.select-item__toggle-wrapper {
    position: relative;
    flex-basis: 60%;
}

.donation-dialog__checkbox-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.donation-dialog__checkbox-container input {
    height: 30px;
    width: 30px;
}

.donation-dialog__bottom-panel {
    padding: 0 120px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 70px;
}

.donation-dialog__bottom-panel .button.turquoise {
    padding: 26px 50px;
}


.step-list {
    display: flex;
    gap: 10px;
}

.step-list__item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--turquoise);
}

.active-step {
    background-color: var(--turquoise);
}

.email-info-text {
    padding: 0 120px;
    margin-bottom: 40px;
}

.form-group.name {
    margin-bottom: 40px;
}

.donation-dialog__card-container {
    display: flex;
    gap: 40px;
}

.form-group__card {
    flex-basis: 75%;
}

.form-group__cvv {
    flex-basis: 25%;
}

.form-group.form-group__card input,
.form-group.form-group__cvv input {
    padding: 24px 12px;
}

.dialog-opened {
    display: block;
}

.login-user__modal {
    width: 420px;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    height: 250px;
    z-index: 5;
    transform: translate(-50%, -50%);
    background-color: var(--white);
}

.profile-information.subheader, .chose-an-action.subheader {
    color: var(--white);
    background: var(--orange);
    padding: 10px;
    text-align: center;
}

.login-user__modal--logged-in {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
}

.sign-out.button.turquoise {
    padding: 10px;
    align-self: center;
}

.login-user__profile-info--panel {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.login-user__profile-info--panel span {
    color: var(--turquoise);
}

.login-user__info {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}

.login-user__info:hover {
    color: var(--turquoise);
}

.login-user__modal--logged-out {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    height: 100%;
}

.login-user__modal--logged-out p {
    text-align: center;
}

.logged-out__btn-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.carousel .subheader.error-message {
    color: var(--error-text);
    margin-left: 300px;
}