<div class="login-user">
    @if (isLoggedIn) {
        <div class="login-user__info" (click)="showUserInfo()">
            <fa-icon [icon]="faUser" />
            <p class="user-login">{{currentUser}}</p>
        </div>
    } @else {
        <fa-icon [icon]="faUser" (click)="loginOrRegister()"/>
    }
    <div class="login-user__modal">
        @if (isLoggedIn && isModalShown) {
            <div class="login-user__modal--logged-in" id="isLoggedIn">
                <p class="profile-information subheader">Profile information</p>
                <div class="login-user__profile-info">
                    <div class="login-user__profile-info--panel">
                        <span>User name: </span>
                        <p class="login-user__profile-info--name">{{userName}}</p>
                    </div>
                    <div class="login-user__profile-info--panel">
                        <span>User email: </span>
                        <p class="login-user__profile-info--email">{{userEmail}}</p>
                    </div>
                </div> 
                <app-button
                    [type]="'submit'"
                    [buttonText]="'Sign Out'"
                    [additionalClass]="'turquoise'"
                    [isArrowIncluded]="false">
                </app-button>
            </div>
        } @else if (isModalShown) {
            <div class="login-user__modal--logged-out" id="isLoggedOut">
                <p class="chose-an-action subheader">Welcome to Online ZOO!</p>
                <p>Please start the jorney or join us!</p>
                <div class="logged-out__btn-container">
                    <app-button
                        [type]="'submit'"
                        [buttonText]="'Sign In'"
                        [additionalClass]="'turquoise'"
                        [isArrowIncluded]="false"
                        routerLink="login">
                    </app-button>
                    <app-button
                        [type]="'submit'"
                        [buttonText]="'Register'"
                        [additionalClass]="'turquoise'"
                        [isArrowIncluded]="false"
                        routerLink="register">
                    </app-button>
                </div>
            </div>
        }
    </div>
</div>
