

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form-container">
        @if (error()) {
            <p class="subheader error-container">The error has been appeared {{error()}}. Please refresh the page</p>
        }

        <div class="form-group">
            <label for="login"><span class="required">*</span>Your Login</label>
            <input id="login" type="text" placeholder="Enter your login" formControlName="login"/>
            @if (login?.invalid && login?.touched) {
                @if (login?.hasError('required')) {
                    <div class="error-container">
                        <fa-icon [icon]="faCircleExclamation"/>
                        <span class="error-message">Login is required</span>
                    </div>
                }
                @if (login?.hasError('minlength')) {
                    <div class="error-container">
                        <fa-icon [icon]="faCircleExclamation"/>
                        <span class="error-message">Login must be at least 3 characters</span>
                    </div>
                }
                @if (login?.hasError('pattern')) {
                    <div class="error-container">
                        <fa-icon [icon]="faCircleExclamation"/>
                        <span class="error-message">Login must contain only English letters</span>
                    </div>
                }
            }
        </div>
        <div class="form-group">
            <label for="password"><span class="required">*</span>Your Password</label>
            <input id="password" type="password" placeholder="Enter your password" formControlName="password"/>
            @if (password?.invalid && password?.touched) {
                @if (password?.hasError('required')) {
                    <div class="error-container">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span class="error-message">Password is required</span>
                    </div>
                }
                @if (password?.hasError('minlength')) {
                    <div class="error-container">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span class="error-message">Password must be at least 6 characters</span>
                    </div>
                }
                @if (password?.hasError('pattern')) {
                    <div class="error-container">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span class="error-message">Password must contain at least one special character</span>
                    </div>
                }
            }
        </div>
    
        <app-button
            [type]="'submit'"
            [buttonText]="loading() ? 'Loading...' : 'Sign In'"
            [additionalClass]="'turquoise'"
            [isDisabled]="loginForm.invalid"
            [isArrowIncluded]="false">
        </app-button>
    </form>


