.image-container {
  height: calc(100vh - 396px);
  background-image: url('/assets/not-found-page.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
