.loader {
    width: 150px;
    height: 150px;
    border: 20px solid var(--turquoise);
    border-radius: 50%;
    animation: spin 2s linear infinite;
    border-top: 20px solid var(--white);
    margin: 0 auto;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}