.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 600px;
}

.map-container {
    background-image: url('/online-zoo/assets/images/map.png');
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 100px;
}

.map-container img {
    position: absolute;
}

.eagle_map_icon {
    bottom: 37%;
    left: 10%;
}

.tiger_map_icon {
    bottom: 26%;
    right: 19%;
}

.lion_map_icon {
    bottom: 32%;
    left: 39%;
}

.koala_map_icon {
    right: 10%;
    bottom: 13%;
}

.crocodile_map_icon {
    left: 19%;
    bottom: 37%;
}

.gorilla_map_icon {
    left: 48%;
    bottom: 29%;
}

.lemur_map_icon {
    right: 35%;
    bottom: 16%;
}

.panda_map_icon {
    right: 24%;
    bottom: 44%;
}