<header>
  <h1>
    <span>Online zoo</span>
  </h1>
  <img src="assets/Logo.svg" alt="Logo" class="logo" />
  <nav class="navigation">
    <ul class="list">
      <li class="nav-item"><a routerLink="/home">about</a></li>
      <li class="nav-item"><a routerLink="/map">map</a></li>
      <li class="nav-item"><a routerLink="/zoos/1">zoos</a></li>
      <li class="nav-item"><a routerLink="/contact-us">contact us</a></li>
      <li class="nav-item">
        <a
          href="https://www.figma.com/design/dD5jmrZi55FQLYMAnQv3YF/Online-ZOO-Project--Copy-?node-id=21-3630&t=wyAp5NSYghAyq7ms-0"
          >design</a
        >
      </li>
    </ul>
    <ul class="list social-media">
      <li>
        <a href="https://www.youtube.com/"
          ><img src="assets/youtube_logo.png" alt="youtube logo"
        /></a>
      </li>
      <li>
        <a href="https://www.instagram.com/"
          ><img src="assets/insta_logo.png" alt="instagram logo"
        /></a>
      </li>
      <li>
        <a href="https://www.facebook.com/"><img src="assets/fb_logo.png" alt="facebook logo" /></a>
      </li>
    </ul>
    <div class="login-user__container">
      <app-user></app-user>
    </div>
  </nav>
</header>
