* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition-duration: .7s;
    max-width: 1920px;
}

:root {
    --navy: #20113d;
    --black: #000;
    --white: #fff;
    --orange: #f58021;
    --orange-hovered: #d26004;
    --turquoise: #00a092;
    --turquoise-hovered: #05786e;
}

header {
    background-color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px;
    height: 110px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 75px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header a {
    color: var(--black);
}

.list {
    display: flex;
    gap: 35px;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

header .list>li>a:hover {
    color: var(--turquoise);
}

main {
    margin: 0 auto;
}

.container {
    padding: 0 250px;
}

.dark {
    color: var(--white);
    background-color: var(--navy);
}

.introduction {
    height: 800px;
    background-image: url('../../assets/images/panda_background.png');
    background-size: 90% 100%;
    padding-top: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

.introduction p {
    width: 430px;
    margin-bottom: 40px;
}

.welcome {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.welcome h2 {
    margin: 50px 0;
}

.welcome p {
    margin-right: 35px;
}

.panel {
    display: flex;
    gap: 30px;
    margin-bottom: 150px;
}

.donations {
    background-color: var(--navy);
    color: var(--white);
}

.dark {
    color: var(--white);
    background-color: var(--navy);
}

.donations {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    color: var(--white);
}

.donations p {
    max-width: 610px;
}

.large {
    flex-grow: 3;
}

.small {
    flex-grow: 1;
}

.friends {
    margin: 150px 0;
    text-align: center;
    padding-left: 250px;
    overflow: hidden;
}

.friends .subheader {
    max-width: 920px;
    align-self: center;
}

.friends .panel {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.friends .outline-dark {
    margin: 0 auto;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-bottom: 50px;
}

.action-buttons i {
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    padding: 20px;
}

.action-buttons--dark i {
    border: 1px solid var(--black);
}

.action-buttons--light i {
    border: 1px solid var(--white);
}

.carousel-container {
    width: calc(3.5 * (440px + 40px) + 250px);
    margin-bottom: 70px;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.carousel-item {
    max-width: 440px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.name {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--white);
    background-color: var(--navy);
    border-bottom-right-radius: 5px;
    padding: 15px 25px;
}

.top-part img {
    display: block;
    width: 100%;
}

.bottom-part {
    background-color: var(--navy);
    color: var(--white);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-part button {
    align-self: center;
    margin-top: 40px;
}

.pay-and-feed {
    margin-top: 150px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.pay-and-feed__header {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 60px;
}

.pay-and-feed__header--line {
    flex: 1;
    border-top: 1px solid var(--white);
}

.pay-and-feed__content {
    display: flex;
    gap: 90px;
    width: 85%;
    margin-bottom: 90px;
}

.pay-and-feed__icon {
    margin-bottom: 30px;
}

.pay-and-feed .subheader {
    margin-bottom: 60px;
}

.pay-and-feed__image {
    align-self: flex-start;
}

.pay-and-feed .button {
    margin-left: 650px;
}

.feedback {
    padding: 150px 0 150px 250px;
    background: linear-gradient(to bottom, var(--navy), transparent),
    url('../../assets/images/feedback_section_bg.png') center / cover no-repeat;
    overflow-x: hidden;
}

.feedback__top-container {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    width: calc(250px + 560px + 50px + 2 * 515px + 30px); /*padding left + max-width + gap + 2 cards + gap*/
}

.feedback__left-panel {
    max-width: 560px;
    flex-grow: 1;
}

.feedback__right-panel {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feedback__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    padding: 50px;
    max-width: 515px;
    gap: 20px;
}

.feedback__card--user {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 35px 0;
}

.feedback .action-buttons {
    margin-bottom: 350px;
}

.care-for {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.care-for .top-panel {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.care-for .subheader {
    max-width: 540px;
}

.care-for .bottom-panel{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 80px;
}

.care-for .outline-dark {
    flex-basis: auto;
    margin-bottom: 150px;
}

.feedcard {
    color: var(--white);
    background-color: var(--navy);
    text-align: center;
    max-width: 440px;
    min-height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.feedcard p {
    padding: 20px 10px;
}

.feedcard button {
    margin-bottom: 50px;
    justify-self: end;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer.container {
    padding-bottom: 30px;
}

footer a {
    color: var(--white);
}

footer .top-panel {
    padding-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyright {
    text-transform: none;
    font-weight: 400;
}

.footer__line {
    flex: 1;
    border-top: 1px solid var(--white);
}

footer .bottom-panel, .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .zoo-logo {
    filter: brightness(0) invert(1);
}