<div class="footer">
    <div class="top-panel">
        <ul class="logos">
            <li><img class="zoo-logo" src="assets/Logo.svg" alt="Zoo online logo"></li>
            <li><img src="assets/yem_digital.png" alt="Yem digital logo"></li>
            <li><img src="assets/rs_school_js_logo.png" alt="Rs school logo"></li>
        </ul>
        <nav>
            <ul class="list">
                <li><a routerLink="home">about</a></li>
                <li><a routerLink="map">map</a></li>
                <li><a routerLink="zoos">zoos</a></li>
                <li><a routerLink="contact-us">contact us</a></li>
            </ul>
        </nav>
        <button class="button outline-light">
            <span>donate for volunteers</span>
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
    <hr class="footer__line">
    <div class="bottom-panel">
        <ul class="copyright list">
            <li>© 2021 DinaK </li>
            <li>© Yem Digital </li>
            <li>© RSSchool</li>
        </ul>
        <ul class="list social-media">
            <li><a href="https://www.youtube.com/"><img src="assets/youtube_logo.png" alt="youtube logo"></a></li>
            <li><a href="https://www.instagram.com/"><img src="assets/insta_logo.png" alt="instagram logo"></a></li>
            <li><a href="https://www.facebook.com/"><img src="assets/fb_logo.png" alt="facebook logo"></a></li>
        </ul>
    </div>
</div>
