.button {
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 26px;
    width: fit-content;
    height: fit-content;
}

.button i {
    margin-left: 10px;
    font-size: 22px;
}

.orange {
    background-color: var(--orange);
    color: var(--white);
}

.orange:hover {
    background-color: var(--orange-hovered);
}

.outline-with-orange {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    display: flex;
    padding: 0;
}

.outline-with-orange span {
    margin-left: 15px;
}

.outline-with-orange i {
    background-color: var(--orange);
    border-radius: 5px;
    padding: 25px;
}

.outline-with-orange i:hover {
    background-color: var(--orange-hovered);
}

.outline-light {
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    padding-left: 60px;
    padding-right: 60px;
}

.outline-light:hover {
    background-color: var(--turquoise);
}

.outline-dark {
    background-color: transparent;
    color: var(--navy);
    border: 1px solid var(--navy);
}

.outline-dark:hover {
    background-color: var(--navy);
    color: var(--white);
}

.blank {
    color: var(--orange);
    background: transparent;
    padding: 15px 25px;
}

.blank:hover {
    background-color: var(--orange);
    color: var(--white);
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-bottom: 50px;
}

.action-buttons i {
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    padding: 20px;
}

.action-buttons--dark i {
    border: 1px solid var(--black);
}
.action-buttons--dark i:hover {
    border: 1px solid var(--navy);
    background-color: var(--navy);
    color: var(--white);
}

.action-buttons--light i {
    border: 1px solid var(--white);
}

.action-buttons--light i:hover {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--white);
}
